<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <% include ./navbar.ejs %>

    <form action="/api/user" method="POST" class="container">
        username:<input type="text" id="name" name="name">
        Phone Number:<input type="text" id="username" name="phone_number">
        email:<input type="text" id="username" name="email">
        address:<input type="text" id="username" name="address">
        interests:<input type="text" id="interests" name="interests">
        <button type="submit" class="btn blue"> submit </button>
    </form>
</body>
</html>