<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
    <title>Document</title>
</head>
<body>
    <nav class="nav-wrapper red">
        <div>
            <ul>
                <li>
                    <a href="/api/user"> Create </a>
                    
                </li>
                <li>
                    <a href="/api/change/user"> Edit/delete</a>
                </li>
                <li>
                    <a href="/api/user/comment"> comment</a>

                </li>
                <li> <a href="/api/user/coding"> Coding</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>